<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="proyecto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
     <add name="cadena_conexion" connectionString="Data Source=DESKTOP-9IPMQJR\SQLEXPRESS;Initial Catalog=proyecto_sistema;Integrated Security=True"
         providerName="System.Data.Sqlclient" />
     <add name="proyecto.Properties.Settings.proyecto_produccionConnectionString"
         connectionString="Data Source=.;Initial Catalog=proyecto_produccion;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="proyecto.Properties.Settings.proyectoConnectionString"
         connectionString="Data Source=.;Initial Catalog=proyecto;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="proyecto.Properties.Settings.proyecto_sistemaConnectionString"
         connectionString="Data Source=DESKTOP-9IPMQJR\SQLEXPRESS;Initial Catalog=proyecto_sistema;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
	<userSettings>
		<proyecto.Properties.Settings>
      <setting name="UserName" serializeAs="String">
          <value />
      </setting>
      <setting name="Leche" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Cuajo" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Peroxido" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Cultivo" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Catalza" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Catibar" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Sal" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Colorante" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="Calcio" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="BotonesHabilitados" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="txttipodocumento" serializeAs="String">
          <value>0</value>
      </setting>
  </proyecto.Properties.Settings>
	</userSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>